body {
    padding-top: 5rem;
}

.require{
    color: red;
}

.flashes li {
  list-style: none; 
  background-color: aliceblue;
  border:#ff66cc solid 3px;
  margin: 0px;
  margin-bottom:5px;
  padding: 2px;
}

.flashes{
    padding: 0px;
}

textarea#message.form-control{
  height: 200px;
}
